{%  extends 'main.html' %}

{% block contenu %}
            <section class="sect1">
                <br>
                <br>
                <br>
                <Br>
                <br>
                <br>
                <br>
                <br>
                <Br>
                <br>
                <br>
                <br>
                <br>
                <Br>
                <br>
                <br>
                <br>
                <br>
                <Br>
                <br>
                <br>
                <br>
                <br>
                <Br>
                <br>
                <br>
                <br>
                <br>
                <Br>
                <br>

                <h1>NOS PRODUITS PHARE</h1>
            </section>

{% endblock %}
